{{ bos_token }}{% for m in messages %}{% if m['role'] == 'system' %}{{ m['content'] }}{% elif m['role'] == 'user' %}<｜User｜>{{ m['content'] }}{% elif m['role'] == 'assistant' %}<｜Assistant｜>{{ m['content'] }}<｜end▁of▁sentence｜>{% endif %}{% endfor %}{% if add_generation_prompt %}<｜Assistant｜>{% endif %}